@font-face {
    font-family: "Apercu";
    src: url("fonts/Apercu Font Family/Apercu Light.otf");
}
@font-face {
    font-family: "Futurak";
    src: url("fonts/futurak.ttf");
}
@font-face {
    font-family: "Butler";
    src: url("fonts/Butler Font Family/Butler_Bold.otf");
}
@font-face{
    font-family: "ButlerLight";
    src: url("fonts/Butler Font Family/Butler_Ultra_Light.otf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Apercu";
}
body{
    background-color: black;
    color: white;
    font-family: "Apercu";
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.logo{
    width: 15%;
    height: auto;
    cursor: pointer;
}
.logo>img{
    width: 100%;
    height: 100%;
}
.link{
    width: 40%;
}
.link>ul{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    font-size: 18px;
    margin-top: 7%;
}
.link>ul>li{
    list-style: none;
    align-items: center;
    cursor: pointer;
}
.nav{
    text-decoration: none;
    color: white;
    font-family: "Butler";
}
.link>ul>li>a:hover{
    color: #ed1c24;
}
.headbtn{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
}
.Franchise-btn{
    width: 40%;
    height: auto;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 15px;
    font-family: "Butler";
    cursor: pointer;
    padding: 15px;
}
.Franchise-btn:hover{
    background-color: white;
    color: black;
}
.order-btn{
    display: flex;
    width: 40%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ed1c24;
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 15px;
    font-family: "Butler";
    cursor: pointer;
    padding: 8px;
}
.order-btn:hover{
    background-color: white;
    color: #ed1c24;
}
.slider{
    width: 100%;
    height: auto;
}
.slider>img{
    width: inherit;
}
.container{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 100px;
}
.container>h2{
    font-family: "Butler";
    font-size: 35px;
    font-weight: bold;
}
.container>p{
    font-size: 22px;
    color: #ffffffaa;
}
.snp{
    font-family: "Futurak";
    font-size: 60px;
    letter-spacing: 5px;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.container1-1{
    width: 21%;
    height: auto;
    margin-left: 3%;
    text-align: center;
}
.container1-1>img{
    width: 100%;
    height: 25vh;
    background-color: white;
    border-radius: 5px;
    padding: 40px;
}
.fr-btn{
    width: 55%;
    height: auto;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 15px;
    font-family: "Butler";
    padding: 15px;
    margin-top: 30px;
    cursor: pointer;
}
.fr-btn:hover{
    background-color: white;
    color: black;
}
.container2{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 100px 0px;
}
.spn{
    font-family: "Futurak";
    font-size: 60px;
    letter-spacing: 5px;
}
.franch{
    font-family: "Butler";
    font-size: 45px;
    letter-spacing: 5px;
}
.container2>p{
    font-size: 18px;
    color: #ffffffaa;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 60px;
    justify-content: center;
}
.container3-1{
    width: 40%;
    align-self: center;
}
.Islamabad{
    color: #ed1c24;
    letter-spacing: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.Isl-snp{
    font-family: "Futurak";
    font-size: 40px;
    margin-bottom: 30px;
}
.Isl-snp>span{
    font-family: "Butler";
    font-size: 32px;
}
.container3-1>p{
    font-size: 20px;
    cursor: pointer;
}
.container3-1>p>img{
    width: 20px;
    height: 20px;
}
.container3-1>button{
    display: flex;
    width: 180px;
    height: 50px;
    background-color: black;
    color: white;
    border: 1px solid #fff5;
    border-radius: 40px;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    font-family: "Butler";
    margin-top: 30px;
    cursor: pointer;
}
.container3-1>button:hover{
    background-color: white;
    color: black;
}
.container3-2{
    width: 40%;
    margin-left: 20px;
}
.container3-2>img{
    width: 100%;
}
.exp-spn{
    font-family: "Futurak";
    font-size: 60px;
    letter-spacing: 5px;
}
.frnch{
    font-family: "Butler";
    font-size: 50px;
    letter-spacing: 5px;
}
.express{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 40px 20px;
    text-align: center;
}
.exp-fran{
    width: 28%;
    height: auto;
}
.exp-fran>img{
    width: 100%;
}
.empmall{
    color: #ed1c24;
    letter-spacing: 5px;
    font-size: 15px;
    margin: 20px 0px;
}
.exp-fran>h3{
    font-family: "Butler";
    font-size: 30px;
    margin-bottom: 30px;
}
.exp-snp{
    font-family: "Futurak";
    font-size: 35px;
    letter-spacing: 2px;
}
.exp-p{
    font-size: 15px;
    color: #ffffffaa;
    cursor: pointer;
}
.exp-fran>button{
    display: flex;
    width: 180px;
    height: 50px;
    background-color: black;
    color: white;
    border: 1px solid #fff5;
    border-radius: 40px;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    font-family: "Butler";
    margin-top: 30px;
    margin-left: 90px;
    cursor: pointer;
}
.exp-fran>button:hover{
    color: black;
    background-color: white;
}
.vill-spn{
    font-family: "Futurak";
    font-size: 60px;
    letter-spacing: 5px;
}
.vill-frnch{
    font-family: "Butler";
    font-size: 50px;
    letter-spacing: 5px;
}
.vill-fran{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.vill-img{
    width: 50%;
    height: auto;
}
.vill-img>img{
    width: 100%;
}
.vill-des{
    width: 47%;
}
.vill-empmall{
    color: #ed1c24;
    letter-spacing: 5px;
    font-size: 15px;
    margin-bottom: 30px;
}
.vill-des>h3{
    font-size: 35px;
    font-family: "Butler";
    margin-bottom: 20px;
}
.vill-snp{
    font-family: "Futurak";
    font-size: 45px;
    letter-spacing: 5px;
}
.vill-des>button{
    display: flex;
    width: 180px;
    height: 50px;
    background-color: green;
    color: white;
    border: 1px solid #fff5;
    border-radius: 50px;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    font-family: "Butler";
    margin-top: 80px;
    cursor: pointer;
}
.vill-des>button:hover{
    color: green;
    background-color: white;
}
.open-spn{
    font-family: "Futurak";
    font-size: 60px;
    letter-spacing: 5px;
}
.open-frnch{
    font-family: "Butler";
    font-size: 35px;
    letter-spacing: 5px;
}
.open-frnch>span{
    font-size: 15px;
}
.open-soon{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.open{
    width: 28%;
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.open>img{
    cursor: pointer;
}
.open>p{
    color: #ed1c24;
    letter-spacing: 5px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.open>h1, .open>h2{
    font-size: 25px;
    font-weight: bold;
}
.special-food{
    width: 100%;
    text-align: center;
    margin: 50px 0px;
}
.special{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 15%;
}
.spec-food{
    width: 19%;
}
.spec-food>img{
    width: 100%;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
}
.description{
    width: 30%;
    height: auto;
}
.description>img{
    width: 50%;
}
.description>p{
    width: 100%;
    color: #ffffffaa;
    font-size: 18px;
    text-align: justify;
}
.des-link{
    margin: 30px 0px;
}
.des-link>a{
    width: 100%;
    color: #ffffffaa;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}
.des-link>a:hover{
    color: #ed1c24;
    cursor: pointer;
}
.site-links{
    width: 15%;
}
.site-links>h1{
    font-family: "Butler";
    margin-bottom: 20px;
}
.site-links>ul>li{
    list-style: none;
    margin-top: 15px;
    font-size: 18px;
    color: #ffffffaa;
    cursor: pointer;
    font-family: "Butler";
}
.site-links>ul>li:hover{
    color: #ed1c24;
    cursor: pointer;
}
.contact{
    width: 23%;
}
.contact>h1{
    font-family: "Butler";
    margin-bottom: 20px;
}
.contact>ul>li{
    list-style: none;
    margin-top: 15px;
    font-size: 18px;
    color: #ffffffaa;
    cursor: pointer;
    font-family: "Butler";
}
.contact>ul>li:hover{
    color: #ed1c24;
    cursor: pointer;
}
.follow{
    width: 16%;
}
.follow>h1{
    font-family: "Butler";
    margin-bottom: 20px;
}
.follow>img{
    cursor: pointer;
}
